<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdy.cheemate.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userResultMap" type="com.wdy.cheemate.entity.User">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="openid" property="openid"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="real_name" property="realName"/>
        <result column="country" property="country"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="birthday" property="birthday"/>
        <result column="gender" property="gender"/>
        <result column="appid" property="appid"/>
        <result column="cet_four" property="cetFour"/>
        <result column="cet_six" property="cetSix"/>
        <result column="ielts" property="ielts"/>
        <result column="ets" property="ets"/>
        <result column="gre" property="gre"/>
        <result column="gmat" property="gmat"/>
        <result column="languages" property="languages"/>
        <result column="age" property="age"/>
        <result column="lychee_number" property="lycheeNumber"/>
        <result column="tag" property="tag"/>
        <result column="introduction" property="introduction"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
    </sql>

</mapper>
